/* nav */
html, body {
    height: 100%;
}
body {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
}

h2 {
    font-family: "Proza Libre",sans-serif;
}

nav {
    display: flex;
}

.nav-items {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0;
    margin-left: auto;
}

ul {
    margin: 0 auto;
}
li {
    margin: 8px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

/* main */

#about-me {
    padding: 16px 0px;
}

.about-me-container {
    display: flex;
}

.portrait {
    border-radius: 8px;
}

p {
    margin: 16px 0px;

}

#projects {
    margin-bottom: 4em;
}

.project-title h3 {
    display: inline;
}

details {
    cursor: pointer;
    margin-bottom: 5px;
}

.skills-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

i {
    font-size: 2em;
    width: 2em;
    margin-bottom: 1em;
}

footer {
    display: block;
    text-align: center;
    margin-top: auto;
    padding: 12px 0;
}

.hearth {
    color: red;
}
